
.img-client {
  max-width: 150px;
  max-height: 150px;
  padding-bottom: 5px;
}
.card {
  border-bottom: 1px solid #ccc;
}

.add {
  margin-top: 15px;
}

.media {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
