{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<!-- Modal ADD -->
  <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLongTitle">Новый клиент</h5>
        </div>
        <div class="modal-body" id="modal-body">
          {% if form %}
            {{ wtf.quick_form(form) }}
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal DELETE -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Подтверждение удаления</h4>
      </div>

      <div class="modal-body">
        <p>Вы уверены что хотите удалить клинику?</p>
        <p>Все клиенты внутри нее будут так же удалены!</p>
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
              <a class="btn btn-danger btn-ok">Удалить</a>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <h3>{{ region.name }}</h3>
</div>


  <div class="row">
      <div class="col-xs-6 col-md-2">
        <h3>Клиники</h3>
      </div>
      <div class='col-xs-6 col-md-2'>
        <button class="btn btn-success glyphicon glyphicon-plus add" data-toggle="modal" data-target="#ModalCenter"></button>
      </div>
  </div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Наименование</th>
					<th>Адрес</th>
					<th>ИНН</th>
					<th>Примечания</th>
          <th></th>
          <th></th>
				</tr>
			</thead>
			<tbody id="myTable">
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
          <th></th>
          <th></th>
				</tr>
					{% for i in clinics %}
				<tr>
					<td><a href='{{url_for('clients.showPersons', region_name=region.name, clinic_id = i.id) }}'>{{i.clinic_name}}</a></td>
					<td>{{i.address}}</td>
					<td>{{i.inn}}</td>
          <td>{{i.comments}}</td>
					<td>  <a class="btn btn-default glyphicon glyphicon-pencil" href='{{url_for('clients.editClinic', region_name=region.name, clinic_id = i.id) }}'></a>
          </td>
					<td>
            <a class="btn btn-danger glyphicon glyphicon-remove" data-href="{{ url_for('clients.deleteClinic',clinic_id=i.id, region_name=region_name) }}" data-toggle="modal" data-target="#confirm-delete">
            </a>

        </td>


				</tr>
					{% endfor %}
			</tbody>
		</table>

			<a href="{{url_for('clients.showRegions') }}">
			<p>
				Назад
			</p>
{% endblock %}
