{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- Modal  ADD-->
	<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ModalLongTitle">Новый клиент</h5>
				</div>
				<div class="modal-body" id="modal-body">
					{% if form %}
						{{ wtf.quick_form(form, id='new_client') }}
					{% endif %}
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</div>


<!-- Modal  DELETE-->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
						<div class="modal-content">

								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">Подтверждение удаления</h4>
								</div>

								<div class="modal-body">
										<p>Вы уверены что хотите удалить клиента?</p>
								</div>

								<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
										<a class="btn btn-danger btn-ok">Удалить</a>
								</div>
						</div>
				</div>
		</div>

<!-- Modal  MAP-->
		<div class="modal fade" id="Modal_Map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
								<div class="modal-content">

										<div class="modal-header">

												<h4 class="modal-title" id="myModalLabel">{{clinic.clinic_name}} на карте</h4>
										</div>

										<div class="modal-body">
												<div id="map"></div>
										</div>

										<div class="modal-footer">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										</div>
								</div>
						</div>
				</div>


<div class="card">
	 <div class="card-body">
    <h4 class="card-title">{{clinic.clinic_name}}</h4>
		<h5 id='address'>{{clinic.address }}</h5>

	<div class="btn-group" role="group" aria-label="Basic example">
			<a href="http://zakupki.gov.ru/epz/order/quicksearch/search_eis.html?searchString={{clinic.inn}}&sortBy=PUBLISH_DATE" target="_blank" class="btn btn-primary">
			Тендеры
			</a>


			<a href="https://clearspending.ru/contract/?productsearch=&search-submit=&grbs=&regnum=&daterange=01.01.2017-31.12.2017&price_gte=&price_lte=&customerregion=&address=&budgetlevel=&okdp_okpd=&sort=-signDate&fz=None&customerinn={{clinic.inn}}&customerkpp=&supplierinn=&supplierkpp=&filter=True" target="_blank" class="btn btn-primary">Контракты
			</a>

			<button class="btn btn-primary" data-toggle="modal" data-target="#Modal_Map">
				<span class="">На карте</span>
			</button>
	</div>
</div>
<br>
</div>

<div class="row">
	<div class="col-xs-6 col-md-2">
		<h3>Клиенты</h3>
	</div>
	<div class='col-xs-6 col-md-2'>
		<button class="btn btn-success glyphicon glyphicon-plus add" data-toggle="modal" data-target="#ModalCenter"></button>
	</div>
</div>


		{% for person in persons %}
		<div class="media">
  		<div class="media-left">
						<img class="img-client" src="/uploads/{{person.picture_filename}}" alt="Тут должно быть фото клиента">
						<div class="btn-group btn-group-justified">
								<a class='btn btn-default glyphicon glyphicon-pencil' href="{{url_for('clients.editPerson', person_id = person.id, clinic_id=clinic.id, region_name=region_name)}}"></a>

								<a class="btn btn-danger glyphicon glyphicon-remove" data-href="{{ url_for('clients.deletePerson', person_id = person.id, clinic_id=clinic.id, region_name=region_name) }}" data-toggle="modal" data-target="#confirm-delete">
								</a>
					</div>
			</div>
			<div class="media-body">
				<h4 class="media-heading">
					<a href = "{{url_for('clients.showVisits', person_id = person.id, clinic_id=clinic.id, region_name=region_name)}}">{{person.name}}</a>
				</h4>

							<dt class="col-sm-4">Телефон: </dt>
							<dd class="col-sm-8">{{person.phone}}</dd>
							<dt class="col-sm-4">Почта: </dt>
							<dd class="col-sm-8">	{{person.email}}</dd>
							<dt class="col-sm-4">Дата предыдущего визита: </dt>
							<dd class="col-sm-8">	{{ moment(person.last_visit).format('LL') }}</dd>
							<dt class="col-sm-4">Дата запланированного визита: </dt>
							<dd class="col-sm-8">	{{ moment(person.next_visit).format('LL') }}</dd>
							<dt class="col-sm-4">Готовит заявку: </dt>
							<dd class="col-sm-8">	{{ moment(person.date_of_request).format('LL') }}</dd>
							{% if person.date_of_request != person.date_of_request2 %}
							<dt class="col-sm-4">Готовит заявку: </dt>
							<dd class="col-sm-8">	{{ moment(person.date_of_request2).format('LL') }}</dd>
							{% endif %}
							<dt class="col-sm-4">Отделение: </dt>
							<dd class="col-sm-8">	{{person.department}}</dd>
							<dt class="col-sm-4">Комментарии: </dt>
							<dd class="col-sm-8">	{{person.comments}}</dd>

			</div>
		</div>
			{% endfor %}


				<a href="{{ url_for('clients.showClinics', region_name=region_name) }}">
					<p>Назад</p>
				</a>

{% endblock %}

{% block scripts %}
    {{ super() }}
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC5uNZ0BrOcQA4TcfyuE2VDiocbHxqFIc&v=3">
		</script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>

{% endblock %}
